body {
  width: 100%;
  margin: 0;
  background-color: #eee1d2;
}

header {
  background-image: url('../backgrounds/boilerroom.png');
	background-position: center;
	background-size: cover;
	height: 600px;
  width: 100%;
	
}

h1 {
  color: white;
  line-height: 600px;
  padding: 0 20px;
  font-size: 70px;
  font-family: Georgia, sans-serif;
  padding: 10px 30px;
  max-width: 600px;
}

h3 {
  font-weight: lighter;
  font-family: Georgia, Times, serif;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px;
}

.text {
  line-height: 30px;
  font-size: 18px;
  font-family: Georgia, Times, serif;
  padding: 15px 0px;
}

.subheader {
  line-height: 30px;
  font-size: 25px;
  font-family: Georgia, Times, serif;
  font-weight: bold;
  padding-top: 10px;
}

.img-left, .img-right {
  width: 45%;
  height: auto;
  padding: 10px 5px;
}

.img-right {
  float: right;
}

.model {
  width: 95%;
  height: 550px;
}

/* MOBILE */
@media only screen and (max-width:1100px) {
  /* For tablets: */
  header {
    height: 500px;
  }
  h1 {
  	font-size: 50px;
    line-height: 55px;
    padding-top: 220px; 
  }
  .text {
    line-height: 30px;
    font-size: 16px;
    font-family: Georgia, Times, serif;
    padding: 15px 5px;
  }
  .content {
    max-width: 700px;
  }
  .soot{
    visibility: hidden;
  }
}

@media only screen and (max-width:550px) {
  /* For mobile phones: */
header {
  height: 400px;
}
h1 {
  padding-top: 200px;
	font-size: 30px;
  line-height: 35px;
}
.video {
  width: 40%;
  height: 300px;
}
.soot {
  visibility: hidden;
}
}

