footer {
    font-family: Georgia, Times, serif;
    line-height: 25px;
    font-size: 16px;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    background-color: white;
    color: #ccbaa5;
    text-align: center;
    padding: 20px;
  }

  /* MOBILE */
@media only screen and (max-width:1000px) {
  /* For tablets: */
  footer {
    padding: 8px;
    font-size: 13px;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width:550px) {
  /* For mobile phones: */
  footer {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    width: 100%;
  }
}